<%= render 'shared/errors', obj: @recipe %>
<div class="row">
  <div class="well medium-8 medium-offset-2 columns">
    <%= form_for(@recipe, html: { multipart: true}) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :summary %>
    <%= f.text_field :summary %>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <span class="picture">
      <%=f.file_field :picture, accept: 'image/jpeg, image/png, image/gif' %>
    </span>
    <%= f.submit(@recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: 'button radius success expand') %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#recipe_picture').bind('chnage', function () {
    size_in_megabytes = this.files[0].size/1024/1024;
    if(size_in_megabytes > 5){
        alert('Maximum file size is 5 MB. Please choose a smaller file');
     }
  });
</script>