<%= render 'shared/page_title', title: 'All Recipes' %>
<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="medium-2 columns">
      <div class="chef_info_center">
        <%= gravatar_for recipe.chef, size: 100 %>
        <h5>Chef Name: <%= recipe.chef.chefname %></h5>
      </div>
    </div >
    <div class="medium-6 columns well">
      <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
      <p><%= recipe.summary %></p>
      <p>
        <span class=quiet><small><%= time_ago_in_words(recipe.created_at) %> ago</small></span>
      </p>

    </div>
    <div class="medium-4 columns">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar") if recipe.picture? %>
    </div>
  </div>
<% end %>