<%= render 'shared/page_title', title: @recipe.name %>
<div class="row">
  <div class="medium-4 columns right center">
    <%= gravatar_for @recipe.chef, size: 200 %>
    <p>Brought to you by: <%= @recipe.chef.chefname %> </p>
  </div>
  <div class="medium-8 coumns">
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: "button small radius" %>
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: "gravata") if @recipe.picture? %>
    </div>
    <div class="well">
      <h5>Steps:</h5>
      <p><%= simple_format(@recipe.description) %></p>
    </div>
  </div>
</div>
<div class="row">
  <h5><%= link_to 'Return to Recipes', recipes_path, class: 'button small warning radius' %></h5>
</div>