<%if obj.errors.any? %>
  <div class="row">
    <div class="alert-box warning radius medium-8 medium-offset-2 columns">
      <p>Please correct the following errors</p>
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <%end%>
      </ul>
    </div>
  </div>
<% end %>