<div class="container jumbotron">
  <div class="row centered">
    <h1>Welcome to My Recipes App</h1>
    <p>This is the Homepage for my Recipes app</p>
    
  </div>
  <div class="row">
    <%=link_to 'signup', new_welcome_path , class: "button radius centered expand success" %>
    <%=link_to 'login', '#', class: "button radius centered expand" %>
  </div>
</div>
<div class="container paddder-top-medium">
  <div class="medium-4 columns">
    <h2>View recipes as a guest</h2>
    <p>Browse all the recipes as a Guest and signup later</p>
    <%= link_to 'Guest Browsing', recipes_path , class: "button expand radius" %>
  </div>
  <div class="medium-4 columns">
      <h2>View recipes as a guest</h2>
    <p>Browse through all the recipes as a guest</p>
    <%= link_to 'Guest Login', '', class: "button expand  radius" %>
    
  </div>
  <div class="medium-4 columns">
      <h2>View recipes as a guest</h2>
    <p>Browse through all the recipes as a guest</p>
    <%= link_to 'Guest Login', '', class: "button expand  radius" %>
    
  </div>
</div>
