<div class="row">
  <h4>Signup for or Recipes App </h4>
</div>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <%= form_for @chef do |c| %>
    <%= c.label :chefname %>
    <%= c.text_field :chefname %>
    <% end %>
  </div>
</div>