/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "foundation_and_overrides.scss";

.centered{
  width:auto;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}
.jumbotron{
  padding:5rem;
  background:rgba(200,200,200,1);
}
.padder-top-small{
  padder-top:1rem;
}
.padder-top-medium{
  padder-top:5rem;
}
.padder-top-large{
  padder-top:5rem;
}
.well{
  background: rgba(150,150,150,0.3);
  border-radius:5px;
  padding:2%;
  margin-top:1rem;
}
.chef_info_center{
  margin-top:2rem;
}
.gravatar{
  border-radius:1rem;
}
span.picture{
  margin-top: 2rem;
  input {
    border: 0;
  }
}
.show_recipe{
  margin:1.5rem;
}
