<hr/>
<footer>
  <div class="row">
    <div class="medium-4 columns"><small>&copy; Copyright material 2015</small></div>
    <div class="medium-4 columns">Feedback</div>
    <div class="medium-4 columns">Terms and Conditions</div>
  </div>
</footer>