<div class= "row">
  <div class="medium-10 columns">
    <% flash.each do |message_type, message| %>
    <div data-alert class="alert-box <%= message_type %> radius">
      <%= message %>
      <a class = "close">&times;</a>
    </div>
    <% end %>
  </div>
    
</div>